# 2018년 3월 28일 점프 투 파이썬 2장
## 테스트
- 숫자형
    1. 기능1
    2. 기능2
- 문자열
- 리스트

In [1]:
print("3번째 수업")

3번째 수업

In [2]:
123

123

## 1절 숫자형

In [13]:
123

123

In [15]:
456

456

In [16]:
1+2

3

In [17]:
7/4

1.75

In [18]:
-7/4

-1.75

In [19]:
7//4

1

In [20]:
7%4

3

In [21]:
1-0.9

0.09999999999999998

## 2절 문자열

In [23]:
boy = "i am a boy"
boy

'i am a boy'

In [24]:
girl = 'i am a girl'
girl

'i am a girl'

In [26]:
friend = """ I am a boy
Iam a girl """

In [30]:
boy + ' ' + girl

'i am a boy i am a girl'

In [39]:
boy * 3

'i am a boyi am a boyi am a boy'

In [42]:
# 문자열 인덱싱
a = "Life is too short, You need Python "
a[0]+ a[10]+a[20]

'Loo'

In [45]:
# 문자열 슬라이싱 a<= : < b
a[12:17]

'short'

In [47]:
a[8:]

'too short, You need Python '

In [48]:
a[:12]

'Life is too '

### Lab1
#### 수익계산
- 변수 revenue 생성 후 98456 할당
- 변수 cost를 생성 후 45000 할당
- 변수 profit을 생성 후 revenue와 cost차이값으로 설정
- profit 출력

In [38]:
revnue = 98456
cost = 45000
profit =revnue - cost
print(profit)

53456

### Lab2
#### 문자열 다루기
- 변수 a를 생성해서 문자열 I love python
- 변수 b를 생성해서 문자열 you hate python

In [94]:
a = " 20180328Sunny "
year = a[1:5]
month = a[5:7]
day = a[7:9]
weather = a[9:]
print(year, month, day, weather)

2018 03 28 Sunny

In [113]:
print(year,'년', month,'월', day,'일', weather,'날씨')

2018 년 03 월 28 일 Sunny  날씨

In [125]:
a = " 20180328Sunny "
year = a[1:5]
month = a[5:7]
day = a[7:9]
weather = a[9:]
print(year, month, day, weather)

2018 03 28 Sunny

In [132]:
"(year)년 (month)월 (day)일 날씨는 (weather)" .format(year=year, month=month, day=day, weather=weather)

'(year)년 (month)월 (day)일 날씨는 (weather)'

# 문자열 내장함수

In [127]:
a= "나는 나다."
a.count('나')

2

In [128]:
# 위치알려주기
a= "hobby"
a.find('b')

2

In [129]:
# 위치알려주기 2
a.index('b')

2

In [131]:
# 문자열 삽입하기
a= ","
a.join("abcd")

'a,b,c,d'

In [133]:
# 대문자로
a= "i love python"
a.upper()

'I LOVE PYTHON'

In [134]:
# 소문자로
a.lower()

'i love python'

In [137]:
# 언문 공백지우기
a = " hi "
a.lstrip()

'hi '

In [138]:
a.rstrip()

' hi'

In [139]:
# 문자열 나누기
a= "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

## Lap2이어서
- 변수 a를 생성하여, 문자열 'i love python'
- 변수 b를 생성하여, 문자열 'you hate python을 할당하시오

In [151]:
a= "I love python"
b= "You hate Python"

- a에서 첫번째 o의 위치를 find 함수로 찾아보시오
- b에서 첫번째 o의 위치를 index함수로 찾아보시오
- a의'o'문자개수를 세시오

In [152]:
a.find('o')

3

In [147]:
b.index('o')

1

In [148]:
a.count('o')

2

- 변수 a를 모두 대문자로 바꿔보시오
- 변수 b를 모두 소문자로 바꿔보시오

In [149]:
a.upper()

'I LOVE PYTHON'

In [150]:
b.lower()

'you hate python'

- 변수 a_6에 a의 첫 6글자들로 이루어진 부분 문자열을 할당하시오
- 변수 a의 문자열을 공백을 이용해서 나눠보시오

In [156]:
a_6 = a[0:7]
a_6

'I love '

In [157]:
a_6.rstrip()

'I love'

### Lab3
#### 문자열 포매팅
- 변수 pi를 생성하고 3.141592를 할당하시오
- 변수 sq_root를 생성하고 1.41429를

In [121]:
Pi =3.141592
sq_root = 1.41429

In [124]:
"Pi is {Pi}, and square root of 2 is {sq_root}" .format(Pi=Pi, sq_root=sq_root)

'Pi is 3.141592, and square root of 2 is 1.41429'

# 3절 리스트